:global{
  .login
  {
  width: 100%;
  height: 100%;
  background: khaki;
  .from{
    width: 30%;
    height: 200px;
    background: rgba($color: #000000, $alpha: 0.5);
    padding: 40px;
    margin: 0 auto;
    position: fixed;
    top:30%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
   
  }
  }
}